POSTGRES_URL="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
CLICKHOUSEURL="clickhouse://default:@localhost:9000"
ELASTIC_URL=http://localhost:9200
MEILI_SEARCH_URL=http://localhost:7700